.venv/
.vscode/
src/__pycache__/

mock/report_review.png
test.png
header.png
tesseract_ocr/
.env
*.pkl

t*.png

# Contains PHI
logs/
*.json
*.docx
screen_text_grid/*

# Build
dist/
build/
*.zip
*.spec
